/* Верхушка документа (кроме меню) */

body {
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
	margin: 0;
    background: url(img/1.jpg);
	background-attachment: fixed;
	background-size: auto;
}

main > .name-cat {
    position: absolute;
    width: 100%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-family: helv;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 0.2em;
}

main > .star-line {
    position: absolute;
    width: 100%;
    top: 13.8%;
    height: 5%;
    background: url(img/star_line.png) no-repeat;
    background-size: contain;
    background-position: center;
}

main > .name-subcat {
    position: absolute;
    width: 100%;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-family: helv;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 0.2em;
}

/* Основной контент */

section {
    position: absolute;
    width: 90%;
    top: 26%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    font-family: helv;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
}

section > .title {
    margin: 10px;
    padding: 0 15px;
    text-transform: uppercase;
    border-bottom: 2px dashed #000;
}

section > .title > h3 {
	margin: 0 10px 10px 10px;
}

section > .text {
    font-size: 1.1em;
    padding: 15px 35px;
    padding-bottom: 30px;
}